{% extends "base.html" %}

{% block navbar1 %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TBD suave app name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/events/">Events</a></li>
            <li><a href="#">???</a></li>
            <li><a href="#">???</a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block navbar2 %}

{% endblock %}

{% block content %}
	<div class="container">
		{% if error %}
			{{errormsg}}
		{% else %}
			<h1>{{event_name}}</h1>
			<h3>{{event_desc}}</h3>
			{{event_start_time}} @ {{event_location}}
			<p>event_id: {{event_id}}</p>
	    {% endif %}
	</div><!-- /.container -->
{% endblock %}